In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('../../../../Datasets/ML/student_result.csv')

In [3]:
df

     Study_Hours  Attendance  Pass_Fail
0       3.745401   51.107976          0
1       9.507143   72.514057          1
2       7.319939   92.376750          0
3       5.986585   83.933493          1
4       1.560186   88.393669          0
..           ...         ...        ...
995     0.915821   79.417309          0
996     9.173136   97.396877          1
997     1.368186   44.137481          0
998     9.502374   43.423283          1
999     4.460058   56.931224          0

[1000 rows x 3 columns]

In [4]:
X = df.drop('Pass_Fail', axis = 1)
y = df['Pass_Fail']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, random_state = 42)

In [6]:
forest = RandomForestClassifier(min_samples_split = 7,
                                min_samples_leaf = 5,
                                max_depth = 5,
                                criterion = 'gini',
                                max_features = 'sqrt',
                                bootstrap = True,
                                )
forest.fit(X_train, y_train)
accuracy_score(y_test, forest.predict(X_test))

0.745